{% load static %}<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Django Storage + S3</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
  <header>
    <h1>Exemplo de integração Django Storage com S3</h1>
  </header>
  <main>
    <img src="{% static 'img/aws-s3.png' %}">
    <hr>
    <br>
    <img src="{% static 'img/djangopython1.png' %}">
    <hr>
    <br>
    <img src="{% static 'img/python-django.png' %}">
  </main>
  <footer>
    ...
  </footer>
</body>
</html>
